.people-chenyan {
  background: url("../images/chenyan.png") no-repeat center;
  background-size: contain;
}

.people-guweijia {
  background: url("../images/guweijia.png") no-repeat center;
  background-size: contain;
}

.people-chenjibo {
  background: url("../images/chenjibo.png") no-repeat center;
  background-size: contain;
}

.people-fanling {
  background: url("../images/fanling.png") no-repeat center;
  background-size: contain;
}

.people-lixin {
  background: url("../images/lixin.png") no-repeat left top;
  background-size: contain;
}

.people-jiangxiao {
  background: url("../images/jiangxiao.png") no-repeat left top;
  background-size: contain;
}

.people-caojinghua {
  background: url("../images/caojinhua.png") no-repeat left top;
  background-size: contain;
}

.people-huangshenshang {
  background: url("../images/huangshenshang.png") no-repeat left top;
  background-size: contain;
}

.people-yufeng {
  background: url("../images/yufeng.png") no-repeat left top;
  background-size: contain;
}

.people-ciensi {
  background: url("../images/ciensi.png") no-repeat left top;
  background-size: contain;
}

.people-chenxinxin {
  background: url("../images/chenxinxin.png") no-repeat left top;
  background-size: contain;
}

.people-yinjuan {
  background: url("../images/yinjuan.png") no-repeat left top;
  background-size: contain;
}

.people-suixinyuan {
  background: url("../images/suixinyuan.png") no-repeat left top;
  background-size: contain;
}

.people-shenlei {
  background: url("../images/shenlei.png") no-repeat left top;
  background-size: contain;
}
.people-luoting{
  background: url("../images/luoting.png") no-repeat left top;
  background-size: contain;
}

.people-juping{
  background: url("../images/juping.png") no-repeat left top;
  background-size: contain;
}

.people-gaoyan{
  background: url("../images/gaoyan.png") no-repeat left top;
  background-size: contain;
}






