.clothes-xby {
  background: url("../images/clothes/xby.png") no-repeat center;
  background-size: 100% 100%;
}

.clothes-bls {
  background: url("../images/clothes/bls.png") no-repeat center;
  background-size: 100% 100%;
}

.clothes-agt {
  background: url("../images/clothes/agt.png") no-repeat center;
  background-size: 100% 100%;
}

.clothes-dg {
  background: url("../images/clothes/dg.png") no-repeat center;
  background-size: 100% 100%;
}

.clothes-glby {
  background: url("../images/clothes/glby.png") no-repeat center;
  background-size: 100% 100%;
}

.clothes-fg {
  background: url("../images/clothes/fg.png") no-repeat center;
  background-size: 100% 100%;
}

.clothes-pty {
  background: url("../images/clothes/pty.png") no-repeat center;
  background-size: 100% 100%;
}

.clothes-zg {
  background: url("../images/clothes/zg.png") no-repeat center;
  background-size: 100% 100%;
}

.clothes-ygl {
  background: url("../images/clothes/ygl.png") no-repeat center;
  background-size: 100% 100%;
}

.clothes-bx {
  background: url("../images/clothes/bx.png") no-repeat center;
  background-size: 100% 100%;
}