.icon-xby {
  background: url("../images/national-flag/xby.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-bls {
  background: url("../images/national-flag/bls.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-agt {
  background: url("../images/national-flag/agt.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-dg {
  background: url("../images/national-flag/dg.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-glby {
  background: url("../images/national-flag/glby.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-fg {
  background: url("../images/national-flag/fg.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-pty {
  background: url("../images/national-flag/pty.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-zg {
  background: url("../images/national-flag/zg.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-ygl {
  background: url("../images/national-flag/ygl.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-bx {
  background: url("../images/national-flag/bx.png") no-repeat center;
  background-size: 100% 100%;
}

// 另外一套图标

.icon-xby2 {
  background: url("../images/national-flag/xby2.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-bls2 {
  background: url("../images/national-flag/bls2.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-agt2 {
  background: url("../images/national-flag/agt2.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-dg2 {
  background: url("../images/national-flag/dg2.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-glby2 {
  background: url("../images/national-flag/glby2.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-fg2 {
  background: url("../images/national-flag/fg2.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-pty2 {
  background: url("../images/national-flag/pty2.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-zg2 {
  background: url("../images/national-flag/zg2.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-ygl2 {
  background: url("../images/national-flag/ygl2.png") no-repeat center;
  background-size: 100% 100%;
}

.icon-bx2 {
  background: url("../images/national-flag/bx2.png") no-repeat center;
  background-size: 100% 100%;
}