.red-0 {
  background: url("../images/time/red-0.png") no-repeat center;
  background-size: cover;
}

.red-1 {
  background: url("../images/time/red-1.png") no-repeat center;
  background-size: cover;
}

.red-2 {
  background: url("../images/time/red-2.png") no-repeat center;
  background-size: cover;
}

.red-3 {
  background: url("../images/time/red-3.png") no-repeat center;
  background-size: cover;
}

.red-4 {
  background: url("../images/time/red-4.png") no-repeat center;
  background-size: cover;
}

.red-5 {
  background: url("../images/time/red-5.png") no-repeat center;
  background-size: cover;
}

.red-6 {
  background: url("../images/time/red-6.png") no-repeat center;
  background-size: cover;
}

.red-7 {
  background: url("../images/time/red-7.png") no-repeat center;
  background-size: cover;
}

.red-8 {
  background: url("../images/time/red-8.png") no-repeat center;
  background-size: cover;
}

.red-9 {
  background: url("../images/time/red-9.png") no-repeat center;
  background-size: cover;
}

.black-0 {
  background: url("../images/time/black-0.png") no-repeat center;
  background-size: cover;
}

.black-1 {
  background: url("../images/time/black-1.png") no-repeat center;
  background-size: cover;
}

.black-2 {
  background: url("../images/time/black-2.png") no-repeat center;
  background-size: cover;
}

.black-3 {
  background: url("../images/time/black-3.png") no-repeat center;
  background-size: cover;
}

.black-4 {
  background: url("../images/time/black-4.png") no-repeat center;
  background-size: cover;
}

.black-5 {
  background: url("../images/time/black-5.png") no-repeat center;
  background-size: cover;
}

.black-6 {
  background: url("../images/time/black-6.png") no-repeat center;
  background-size: cover;
}

.black-7 {
  background: url("../images/time/black-7.png") no-repeat center;
  background-size: cover;
}

.black-8 {
  background: url("../images/time/black-8.png") no-repeat center;
  background-size: cover;
}

.black-9 {
  background: url("../images/time/black-9.png") no-repeat center;
  background-size: cover;
}

