.share-tips-xby {
  background: url("../images/share-tips/xby.png") no-repeat center;
  background-size: 100% 100%;
}

.share-tips-bls {
  background: url("../images/share-tips/bls.png") no-repeat center;
  background-size: 100% 100%;
}

.share-tips-agt {
  background: url("../images/share-tips/agt.png") no-repeat center;
  background-size: 100% 100%;
}

.share-tips-dg {
  background: url("../images/share-tips/dg.png") no-repeat center;
  background-size: 100% 100%;
}

.share-tips-glby {
  background: url("../images/share-tips/glby.png") no-repeat center;
  background-size: 100% 100%;
}

.share-tips-fg {
  background: url("../images/share-tips/fg.png") no-repeat center;
  background-size: 100% 100%;
}

.share-tips-pty {
  background: url("../images/share-tips/pty.png") no-repeat center;
  background-size: 100% 100%;
}

.share-tips-zg {
  background: url("../images/share-tips/zg.png") no-repeat center;
  background-size: 100% 100%;
}

.share-tips-ygl {
  background: url("../images/share-tips/ygl.png") no-repeat center;
  background-size: 100% 100%;
}

.share-tips-bx {
  background: url("../images/share-tips/bx.png") no-repeat center;
  background-size: 100% 100%;
}