.title-xby {
  background: url("../images/title/xby.png") no-repeat center;
  background-size: 100% 100%;
  width: px2rem(107);
  height: px2rem(24);
}

.title-bls {
  background: url("../images/title/bls.png") no-repeat center;
  background-size: 100% 100%;
  width: px2rem(107);
  height: px2rem(24);
}

.title-agt {
  background: url("../images/title/agt.png") no-repeat center;
  background-size: 100% 100%;
  width: px2rem(107);
  height: px2rem(24);
}

.title-dg {
  background: url("../images/title/dg.png") no-repeat center;
  background-size: 100% 100%;
  width: px2rem(71);
  height: px2rem(24);
}

.title-glby {
  background: url("../images/title/glby.png") no-repeat center;
  background-size: 100% 100%;
  width: px2rem(143);
  height: px2rem(24);
}

.title-fg {
  background: url("../images/title/fg.png") no-repeat center;
  background-size: 100% 100%;
  width: px2rem(70);
  height: px2rem(24);
}

.title-pty {
  background: url("../images/title/pty.png") no-repeat center;
  background-size: 100% 100%;
  width: px2rem(107);
  height: px2rem(24);
}

.title-zg {
  background: url("../images/title/zg.png") no-repeat center;
  background-size: 100% 100%;
  width: px2rem(70);
  height: px2rem(24);
}

.title-ygl {
  background: url("../images/title/ygl.png") no-repeat center;
  background-size: 100% 100%;
  width: px2rem(108);
  height: px2rem(24);
}

.title-bx {
  background: url("../images/title/bx.png") no-repeat center;
  background-size: 100% 100%;
  width: px2rem(70);
  height: px2rem(24);
}