.page-upload-img {
  background: url("../images/bg-bg2.jpg") no-repeat center;
  background-size: cover;
  background-position: left 0 bottom 0;
  // background-position: left 0 bottom 0;

  .left-icon {
    width: px2rem(190);
    height: px2rem(61);
    position: absolute;
    left: px2rem(30);
    top: px2rem(30);
    background: url("../images/worldcup_logo3.png") no-repeat center;
    background-size: cover;
  }

  .right-icon {
    position: absolute;
    right: px2rem(30);
    top: px2rem(30);
  }

  .choose-img {
    width: px2rem(588);
    height: px2rem(804);
    margin: 0 auto;
    margin-top: px2rem(160);
    background: url("../images/upload_bg.png") no-repeat center;
    background-size: cover;

    p {
      text-align: center;
      color: #f7e9de;
      font-size: px2rem(28);
    }
    .tip1 {
      padding-top: px2rem(475);
      &.uploading {
        color: #65e833;
      }
    }

    .error-tips2 {
      color: red;
    }
  }

  #fileSelect {
    position: absolute;
    left: -100000px;
    top: 0;
  }

  .choose-btn {
    position: absolute;
    left: 0;
    bottom: px2rem(70);
    height: px2rem(78);
    width: 100%;
    .choose-btn-inner {
      width: px2rem(628);
      height: 100%;
      margin: 0 auto;

      > div {
        width: px2rem(289);
        height: 100%;
        &:active {
          transform: scale(.95)
        }
      }

      .btn-restart {
        float: left;
        background: url("../images/btn/try-choose-team.png") no-repeat center;
        background-size: cover;

        &.uploading {
          background: url("../images/btn/try-choose-team-2.png") no-repeat center;
          background-size: cover;
          &:active {
            transform: scale(1)
          }
        }
        &:active {
          transform: scale(.95)
        }
      }

      .upload-btn {
        float: right;
        background: url("../images/btn/btn-upload.png") no-repeat center;
        background-size: cover;
        &.uploading {
          background: url("../images/btn/btn-uploading.gif") no-repeat center;
          background-size: cover;
          &:active {
            transform: scale(1)
          }
        }

        &:active {
          transform: scale(.95)
        }
      }
    }
  }

}
